img{
	heigth:900px;
	width:auto;
}
p, #special{

	font-size:40px;
	color:Green;

}
#olo{
	heigth:900px;
	width:auto;

}
#lala{
		heigth:200px;
		width:auto;
}

#lala{
		height:200px;
		width: auto;
}

#lala{
		height:200px;
		width: auto;
}

#lala{
		height: 300px;
		width: auto;
	}

#lala{
		width: 300px;
		width: auto;
	}
