img{
	heigth:900px;
	width:auto;
}
li,p, #special{

	font-size:40px;
	color:white;

}
#olo{
	heigth:900px;
	width:auto;

}
#row{
		/*heigth:200px;*/
		/*width:auto;*/
		margin-top: 50px;
		margin-bottom: 50px;
}

#lala{
		height:300px;
		width: auto;
}

body{
		background-image:url("fondo_2.jpg");
}
