img{
	heigth:900px;
	width:auto;
}
p, #special{

	font-size:80px;
	color:red;

}
#olo{
	heigth:900px;
	width:auto;

}
#lala{
		heigth:300px;
		width:auto;
}

#lala{
		height:300px;
		width: auto;
}

#lala{
		height:300px;
		width: auto;
}
